{% extends 'layout.html' %}

{% block body %}
  <h1>About</h1>
  <p>This is a project created by Giovanni HoSang with Python Flask app with MySQL Database to create A simple blog. Flask is a beautiful mini-framework that gives you a good feel of doing things on your own. For example, the queries to the database are manually writted. This is good for someone trying to see how databases work and want to practice. In any case, go ahead, register and create your first article!</p>
{% endblock %}